# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Profiling
*.trace
*.xcappdata
